@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,900');

/*
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Poppins !important;
}

body {
    background: url(../img/unsplash01.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.nav ul li a {
    color: #fff;
    outline: none;
}

.nav ul li a:hover {
    color: #FF701C;
    outline: none;
    text-decoration: none;

}

.logo {
    line-height: 40px;
    float: left;
    margin: 1.2em 0 0 2.2em;
    font-weight: bolder;
    color: #fff;
}

.logo img {
    width: 200px;
}

h1 img.load-screen {
    width: 250px;
}

.nav {
    line-height: 40px;
    margin: 1.2em;
    position: absolute;
    right: 0;
}

.nav ul li {
    font-family: 'Vollkorn', serif;
    list-style: none;
    display: inline-block;
    color: #fff;
    padding-right: 36px;
    font-weight: bolder;
}

.social-media {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.social-media ul li {
    list-style: none;
    color: #fff;
    padding-top: 20px;
}

.side-strip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10em;
    transform: rotate(90deg);
    color: #fff;
    letter-spacing: 4px;
}

.header {
    position: absolute;
    top: 38%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.header h1 {
    color: #fff;
    font-weight: bolder;
}

.header p {
    color: #fff;
    font-weight: lighter;
    font-size: 1.5em;
}

.header a button {
    font-family: 'Vollkorn', serif;
    margin-top: 12px;
    border: none;
    padding: 8px 18px;
    background: #FF701C;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;
    outline: none;
}

.header a button:hover {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background: rgb(255, 94, 0);
}


.bottom-bar {
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.row {
    padding: 2.6em 2.6em 2em 2.6em;
    background: #000;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.bottom-bar h6 {
    font-weight: bolder;
    text-transform: uppercase;
}

.bottom-bar p {
    font-size: 14px;
    font-weight: lighter;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0%;
}

.overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 12px;
}
